<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/style.css">
  <!-- <script src="/public/js/script.js"></script> -->
</head>
<body>
   
<div class="container mt-3">
  <div class="row align-items-center">
    <div class="col">
        <h2>Products</h2>
    </div>
    <div class="col-auto">
      <a href="/addProduct/"><button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button></a>
    </div>
    <div class="col-auto">
        <a href="/sync/"><button type="button" class="btn btn-success"><i class="fas fa-sync-alt"></i></button></a>
    </div>
    <div class="col-auto">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="batchActionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Batch Action
            </button>
            <ul class="dropdown-menu" aria-labelledby="batchActionDropdown">
                <li><a class="dropdown-item" href="#" id="batchUpdate">Update</a></li>
                <li><a class="dropdown-item" href="#" id="batchDelete">Delete</a></li>
            </ul>
        </div>
    </div>
  </div>          

  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" id="selectAll"></th>
        <th>Id</th>
        <th>Name</th>
        <th>SKU</th>
        <th>Price</th>
        <th>STOCK</th>
        <th>Qantity</th>
        <th>Image</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = (currentPage - 1) * itemsPerPage; i < currentPage * itemsPerPage && i < products.length; i++) { %>
        <% let product = products[i]; %>
        <tr>
            <td><input type="checkbox" class="product-checkbox" data-product-id="<%= product.productId %>"></td>
            <td class="product-id"><%= product.productId %></td>
            <td><%= product.productName %></td>
            <td><%= product.SKU %></td>
            <td><%= product.price %></td>
            <td><%= product.stock ? 'IN STOCK' : 'OUT OF STOCK' %></td>
            <td><%= product.quantity %></td>
            <td><img src="<%= product.images %>" class="img-fluid" style="max-width: 100px; max-height: 100px;"></td>
            <td><a href="/updateProduct/<%= product.productId %>"><button type="button" class="btn btn-secondary edit-product"><i class="far fa-edit"></i></button></a></td>
            <td><a href="/deleteProduct/<%= product.productId %>"><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></a></td>
          </tr>
      <% } %>
    </tbody>
  </table>
  
  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="/products?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
    </ul>
  </nav>
</div>
<%- include('../home'); %>

</body>
</html>
