<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="/public/js/script.js"></script> -->
  <style>
    .dropdown-menu .dropdown-item {
      background-color: gray;
    }
  </style>
</head>
<body>
   
<div class="container mt-3">
  <div class="row align-items-center">
    <div class="col">
        <h2>Products</h2>
    </div>
    <div class="col-auto">
        <a href="/sync/"><button type="button" class="btn btn-success"><i class="fas fa-sync-alt"></i> Sync</button></a>
    </div>
    <div class="col-auto">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="batchActionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Batch Action
            </button>
            <ul class="dropdown-menu" aria-labelledby="batchActionDropdown" style="color: black;">
                <li><a class="dropdown-item" href="#" id="batchUpdate">Update</a></li>
                <li><a class="dropdown-item" href="#" id="batchDelete">Delete</a></li>
            </ul>
        </div>
    </div>
  </div>          
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" id="selectAll"></th>
        <th>Id</th>
        <th>Name</th>
        <th>SKU</th>
        <th>Price</th>
        <th>Image</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
        <tr>
            <td><input type="checkbox" class="product-checkbox" data-product-id="<%= product.productId %>"></td>
            <td class="product-id"><%= product.productId %></td>
            <td><%= product.productName %></td>
            <td><%= product.SKU %></td>
            <td><%= product.price %></td>
            <td><img src="<%= product.images %>" class="img-fluid" style="max-width: 100px; max-height: 100px;"></td>
            <td><a href="/updateProduct/<%= product.productId %>"><button type="button" class="btn btn-secondary edit-product"><i class="far fa-edit"></i></button></a></td>
            <td><a href="/deleteProduct/<%= product.productId %>"><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></a></td>
          </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<script>
   $(document).ready(function() {
    var selectedProductIds = [];
    $('.product-checkbox').change(function() {
            var productId = $(this).data('product-id');
            if ($(this).is(':checked')) {
                // Add the product ID to the array if checkbox is checked
                selectedProductIds.push(productId);
            } else {
                // Remove the product ID from the array if checkbox is unchecked
                selectedProductIds = selectedProductIds.filter(id => id !== productId);
            }
        });

        // Handle select all checkbox
        $('#selectAll').click(function(){
            if ($(this).is(':checked')) {
              $('.product-checkbox').prop('checked', true);
              //Add all product IDs to the array
              selectedProductIds = $('.product-checkbox').map(function() {
                return $(this).data('product-id');
              })
            } else {
              $('.product-checkbox').prop('checked', false);
              selectedProductIds = []
            }
            console.log(selectedProductIds);
        });

        $('#batchDelete').click(function(event){
          event.preventDefault();
          
          if(selectedProductIds.length > 0) 
          {
              if(confirm('Are you sure want to delete the selected product')) {
                selectedProductIds.forEach( productId => {
                    var deleteUrl = '/deleteProduct/' + productId;
                    window.location.href = deleteUrl;
                    
                })
              }
          }
        });
   })
</script>
<%- include('../home'); %>

</body>
</html>
