<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Update Form</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Product Update</h1>
        <form id="productForm">
            <div class="mb-3">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control" value="<%= productData.productName %>" id="productName" placeholder="Enter product name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" value="<%= productData.productId%>" id="productId">
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Price</label>
                <input type="number" class="form-control" id="productPrice" value="<%= productData.price %>" placeholder="Enter price">
            </div>
            <div class="mb-3">
                <label for="productSKU" class="form-label">SKU</label>
                <input type="text" class="form-control" id="productSKU" value="<%= productData.SKU %>" placeholder="Enter SKU">
            </div>
            <div class="mb-3">
                <label for="productDescription" class="form-label">Description</label>
                <textarea style="color: black;" class="form-control" id="productDescription" value="<%= productData.description %>" color=""><%= productData.description %></textarea>
                <!-- <input type="text" class="form-control"  id="productDescription" value="<%= productData.description %>"> -->
            </div>
            <div class="mb-3">
                <label for="imageFile" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageFile">
            </div>
            <button type="submit" class="btn btn-primary" id="updateProductBtn">Update Product</button>
        </form>
    </div>
    <%- include('../home'); %>
</body>
</html>
